<%- include("../includes/head") %>
<%- include("../includes/navbar") %>

<link rel="stylesheet" href="/css/login.css">


<section class="login-page">

  <div class="login-oval"></div>

  <h1 class="login-title">
  Welcome <span class="black underline">back!</span>
</h1>

  <p class="login-subtitle">Enter your account information to sign in</p>

  <form action="/login" method="POST" class="login-form">

    <label>Email or Username</label>
    <input type="text" name="identifier" placeholder="Enter your email or username" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your password" required>

    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
      <p class="error"><%= errorMessage %></p>
    <% } %>

    <button class="login-btn">Sign in</button>

  </form>

</section>


<%- include("../includes/footer") %>
