body {
  font-family: "Poppins", sans-serif;
}

/* HERO */
.contact-hero {
  padding: 80px 8%;
  background: #ffe1b7;
  text-align: center;
}

.contact-hero h1 {
  font-size: 42px;
  font-weight: 700;
}

.contact-hero h1 span {
  color: #FFA03F;
}

.contact-hero p {
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}

/* CONTAINER */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 8%;
  gap: 50px;
}

/* FORM */
.contact-form {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.08);
}

.contact-form h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.contact-form label {
  margin-top: 15px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.contact-btn {
  margin-top: 25px;
  padding: 14px 18px;
  background: #FFA03F;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
}

.contact-btn:hover {
  background: #ff8c1c;
}

.success-msg {
  margin-top: 15px;
  color: #2a9d42;
  font-weight: 600;
}

/* INFO SECTION */
.contact-info {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.08);
}

.socials {
  font-size: 30px;
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
}
