body {
  font-family: "Poppins", sans-serif;
}

/* MAIN WRAPPER WITH WAVE BACKGROUND */
.contact-wrapper {
  background: #E8E8E8;
  padding: 120px 8% 200px;
  padding-top: 160px !important;
  padding-bottom: 160px !important;
  position: relative;
}

/* WAVE SHAPE using svg*/
.contact-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 450px !important; 
  /*maybe bade yeha less height baad*/
  background: white;
  clip-path: path(
   "M0,200
     C300,10 600,430 900,50
     C1200,430 1500,20 1920,220
     L1920,450
     L0,450
     Z"
  );
}


/* TITLE */
.contact-top {
  text-align: center;
  margin-bottom: 40px;
}

.contact-top h1 {
  font-size: 58px;
  font-weight: 700;
}

.contact-top .orange {
  color: #FFA03F;
}

.contact-top .black {
  color: #000;
  position: relative;
  padding-bottom: 4px;
}

/* REAL UNDERLINE under "Questions?" */
.contact-top .black::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #FFA03F;
  border-radius: 4px;
}

/* Remove original underline div */
.underline {
  display: none;
}


/* CONTENT: IMAGE LEFT — FORM RIGHT */
.contact-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 320px !important;
  margin-top: 40px;
  position: relative;
  z-index: 5;
  transform: scale(0.92);
  transform-origin: top center
}

/* LEFT IMAGE */
.contact-image img {
  width: 300px;
  margin-top:25px;
  filter: brightness(0) contrast(1.3);
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.input-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.send-btn {
  width: 150px;
  padding: 12px 0;
  background: #FFA03F;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 6px;
}

.send-btn:hover {
  background: #ff8c1c;
}

.success-msg {
  color: #2a9d42;
  font-weight: 600;
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-content {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .contact-image img {
    width: 250px;
  }
}
